<div class="container">

    <h1 align="center">Eat-Da-Burger!</h1>
    <hr>
    <h5 align="center">Press the buttons to devour or add new burgers</h5>

        <div class="row">
            <div class="col m6">
              <div class="card horizontal">
                
                <div class="card-stacked">
                  <div class="card-content">
                      <span align="center" class="card-title">Ready for a Burger?!</span>
                        <ul>
                          {{#each burgers}}
                            {{#unless devoured}}
                              {{> burgers/burger-block devoured=false}}
                            {{/unless}}
                          {{/each}}
                        </ul>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col m6">
              <div  class="card horizontal" >
                  {{!-- <div class="card-image">
                      <img src="../public/assets/burger.png" alt="burger pic">
                  </div> --}}
                  <div class="card-stacked">
                    <div class="card-content">
                        <span align="center" class="card-title">Yum!</span>
                          <ul>
                            {{#each burgers}}
                              {{#if devoured}}
                                {{> burgers/burger-block devoured=true}}
                              {{/if}}
                            {{/each}}
                          </ul>
                    </div>
                  </div>
              </div>
            </div>  
        </div>

    <h3 class="titles">Add a Burger</h3>
    <form class="create-form">

      <div class="form-group">
        <label for="burgers">Burger Name:</label>
        <input type="text" id="burger-id" name="burger-name">
      </div>

      <button class="add-burger" type="submit">Add Burger</button>
    </form>

</div>