body {
 color:rgb(255, 251, 251);
 background-color: rgb(158, 132, 15);
}

h1, h3.titles{
   font-family: 'Pacifico', cursive;
}

button.add-burger {
   border-radius: 10px;
   padding: 9px;
   color: rgb(237, 243, 242);
   background-color:rgb(223, 83, 90);
}
button.change-devoured{
   border-radius: 10px;
   background-color: rgb(237, 241, 241);
}
.container {
   width: 90%;
}

.card {
   max-width: 560px;
   min-height: 250px;
}

.card-image {
  width: 30%;
  height: 100%;
}

label {
   color: rgb(238, 229, 229);
   font-size: 20px;
}

span.card-title {
  font-size: 30px !important;
  color: rgb(248, 255, 254);
}

li {
   padding: 3px;
   font-size: 18px;
   font-weight: bold;
   color: turquoise;
}

div.card.horizontal{
background-color: rgb(223, 83, 90);
} 