body {
 color:black;
 background-color: rgb(236, 236, 133);
}

h1, h3.titles{
   font-family: 'Pacifico', cursive;
}

.container {
   width: 90%;
}

.card {
   max-width: 560px;
   min-height: 300px;
}

.card-image {
  width: 30%;
  height: 100%;
}

label {
   color: black;
   font-size: 20px;
}

span {
  font-size: 30px !important;
}

li {
   padding: 1px;
   font-size: 17px;
   font-weight: bold;
}

div.card.horizontal{
background-color: rgb(132, 197, 172);
} 