body {
 color:black;
 background-color: rgb(236, 236, 133);
}


.container {
   width: 90%;
}

.card {
   width: 600px;
}

.card-image {
  width: 30%;
  height: 100%;
}

label {
   color: black;
   font-size: 20px;
}

span {
  font-size: 30px !important;
}

li {
   padding: 1px;
}

#github {
  width: 100%;
  color: black;
  font-size: 18px;
}
